{% extends "base.html"%} 

{% block title %} Meeting:{{meeting.title}} {% endblock %}
{% block content %}
    <h1>{{meeting.title}}</h1>
    <p>This meeting has been scheduled on <strong>{{meeting.date}}</strong>, 
        at <strong>{{meeting.start_time}}</strong> in <strong> 
            {{meeting.room}}</strong></p>
    <p>The meeting will last <strong>{{meeting.duration}}</strong> hours .</p>
    <h2>Home</h2>       
    <ul>
        <li>
            <a href="{% url 'welcome' %}">Home             
            </a>
        </li>
    </ul>

{% endblock %}